.block-1 {
    margin-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;

    &__title {
        font-size: 28px;
        padding-left: 20px;

        &::before {
            content: "|";
            width: 4px;
            height: 32px;
            color: #41F6D7;
            background-color: #41F6D7;
            border-radius: 100px;
            position: relative;
            left: -25px;
        }
    }

    &__button-repair {
        position: absolute;
        top: 42px;
        right: 230px;
        background-image: url(../img/repair.svg);
        display: none;

        &::before {
            content: "Оставить заявку";
            font-weight: 500;
            position: relative;
            width: 150px;
            display: flex;
            flex-direction: row;
            left: -150px;
        }
    }

    &__button-checkstatus {
        position: absolute;
        top: 42px;
        right: 30px;
        background-image: url(../img/checkstatus.svg);
        display: none;

        &::before {
            content: "Статус ремонта";
            font-weight: 500;
            position: relative;
            width: 150px;
            display: flex;
            flex-direction: row;
            left: -150px;
        }
    }

    &__menu {
        margin: 24px 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    &__button {
        border: none;
        border-radius: 6px;
        background: none;
        height: 40px;
        margin-right: 20px;
        flex-shrink: 0;

        &:hover {
            background-color: $color-light;
        }

        &--active {
            background-color: $color-light;
            border: 2px solid #B8FFEC;
        }
    }

    &__info {
        font-size: 15px;
    }

    &__text {
        margin: 0  16px;
    }

    &__text-part-2 {
        display: none;
    }

    &__text-part-3 {
        display: none;
    }

    &__text-part-4 {
        display: none;
    }

    &__button-expand {
        margin-bottom: 16px;
        margin-left: 0px;
        background: none;
        border: none;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        &::before {
            content: url(../img/expand.png);
            transform-origin: center;
            position: relative;
        }

        &--active {

            &::before {
                transform: rotate(180deg);
                top: -6px;
            }
        }
    }

    &__button-none {
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 0px;
        background: none;
        border: none;
        font-size: 16px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        display: none;

        .block-1__img-expand {
            transition: 0.5s ease;
            transform: rotate(-180deg);
        }
    }  
}

@media screen and (min-width: $tablet-width) {
    .block-1 {

        &__menu {
            margin-right: 0;
            font-size: 17px;
        }
        
        &__info {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-right: 0px;
        }

        &__text-part-2 {
            display: inline;
        }

        &__img {
            width: 360px;
            height: 260px;
            border-radius: 6px;
        }
    }
}

@media screen and (min-width: $content-width) {
    .block-1 {
        padding-top: 35px;

        &__button-repair {
            display: inline;
        }
    
        &__button-checkstatus {
            display: inline;
        }

        &__menu {
            flex-wrap: wrap;
            overflow: visible;
        }

        &__text-part-3 {
            display: inline;
        }
        &__text {
            width: 520px;
        }

        &__img {
            width: 530px;
            height: 340px;
        }
    }
}