.block-2 {

    &__slider {
        position: relative;
        overflow: hidden;
    }

    &__catalog {
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: nowrap;
    }

    &__card {
        width: 224px;
        height: 72px;
        margin-top: 10px;
        
        &--none {
            display: none;
        }
    }

    &__link {
        position: relative;
        width: 224px;
        height: 72px;
        background-color: $color-light;
        padding: 0 16px;
        display: flex;
        align-items: center;
        border: 1px solid $color-content;
        border-radius: 6px;
    }

    &__go {
        position: absolute;
        top: 15px;
        transform: translateX(150px);
    }
    
    &__button {
        border: 0;
        background: none;
        font-size: 16px;
        margin-left: 30px;
        margin-top: -15px;
        display: none;

        &-img {
            display: inline-block;
            vertical-align: -6px;
            padding-right: 5px;
        }
    }

}

.swiper-pagination {
    display: block;
    position: relative;
    top: 5px;
}

@media screen and (min-width: $tablet-width) {
    .block-2 {

        &__catalog {
            padding: 24px 0;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__card {
            margin-left: 24px;
            margin-bottom: 16px;
        }    

        &__button {
            display: block;
        }
    }

    .swiper-pagination {
        display: none;
    }
}

@media screen and (min-width: $desktop-width) {
    .block-2 {

        &__slider {
            margin-left: 30px;
        }
    }
}