.background-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: none;
    overflow: hidden;
}

.background-overlay-active {
    display: block;
}
