.block__title {
    width: 100%;
    min-height: 56px; 
    background: linear-gradient(270deg, $background-menu 0%, $color-light 98.61%);
    color: $color-grey;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 0;
    padding-left: 24px;
}