.burger-menu {

    &__button {
        position: absolute;
        top: 24px;
        left: 24px;
        background-color: #FF3E79;
    }
    
    &__lines {
        width: 14px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 46%;
        left: 25%;

        &::after {
            content: "";
            left: 0;
            top: 7px;
            position: absolute;
            width: 18px;
            height: 2.5px;
            background-color: #fff;
            transition: 0.4s ease;
        }

        &::before {
            content: "";
            left: 0;
            top: -7px;
            position: absolute;
            width: 18px;
            height: 2.5px;
            background-color: #fff;
            transition: 0.4s ease;
        }
    }
}

.burger-menu__overlay--active {
    display: block;
}