.oval-button {
    width: 136px;
    height: 32px;
    background: $button-color;
    color: $color-light;
    font-size: 12px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    
    &::after {
        margin-left: 10px;
        content:url(../img/drop.svg);
        
    }
}