.burger {
    &-menu {
        max-width: 360px;
        height: 100vh;
        background-color: #ffffff;
        padding: 24px;
        overflow-y: scroll;
        display: flex;
        position: absolute;
        flex-direction: column;
        z-index: 5;
        transform: translateX(-100%);
        transition: 1s ease;
        display: none;
    }

    &-header {
        max-height: 98px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 24px;

        &__close {
            margin-right: 16px;
            background-image: url(../img/close.svg);
        }

        &__logo {
            margin-right: auto;
        }

        &__search {
            background-image: url(../img/search.svg);
        }
    }

    &-nav {
        padding: 0;
        padding-bottom: 24px;
        min-height: 500px;

        &__item {
            line-height: 45px;

            &--active::before {
                content: "|";
                width: 4px;
                height: 32px;
                color: #41F6D7;
                background-color: #41F6D7;
                border-radius: 100px;
                position: relative;
                left: -26px;
            }
        }

        &__link {
            color: $color-font;
            font-weight: 500;

            &--active {
                color: $color-grey;
            }
        }
        
    }

    &-footer {
        margin-top: auto;

        &-nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-bottom: 24px;

            &__call {
                background: #FF3E79 url(../img/call.svg) no-repeat 50% 50%;
                margin-right: 16px;
            }
            &__chat {
                background: #FF3E79 url(../img/chat.svg) no-repeat 50% 50%;
                margin-right: 16px;
            }
            &__profile {
                background: #FF3E79 url(../img/profile.svg) no-repeat 50% 50%;
            }
        }

        &-contact {
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;
            

            &__mail {
                color: $color-font;
                font-weight: 500;
                padding-bottom: 5px;
            }

            &__tel {
                color: $color-font;
                font-size: 24px;
                font-weight: bold;
            }
        }

        &-tongue {

            &__button {
                background: none;
                border: none;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
    
                &--active {
                    color: $color-grey;
                }
    
                &:hover {
                    color: #606061;
                }
            }
        }
    }
}

@media screen and (min-width: $content-width) {

    .burger {

        &-menu {
            max-width: 290px;
            min-height: 205vh;
            z-index: 1;
            display: flex;
            transform: translateX(0);
            transition: none;
            overflow: auto;
        }
        &-nav {
            padding-bottom: 80px;
        }

        &-footer {
            margin-top: 0;
            margin-bottom: auto;
        }

        &-header__close {
            display: none;
        }
    }
}
