.modal-feedback {
    transform: translate(150%);
    display: none;

    &__button {
        position: relative;
        top: 10px;
        left: 150px; 
    }
}


@media screen and (min-width: $content-width) {

    .modal-feedback {
        max-width: 440px;

        &__button {
            position: relative;
            top: 10px;
            left: 250px;
        }
    }
}