.modal-call {
    transform: translate(150%);
    display: none;

    &__form {
        padding-bottom: 30px;
    }

    &__button {
        text-align: center;
        transform: translate(130px, 15px);
    }
}

@media screen and (min-width: $content-width) {
    .modal-call {
        max-width: 440px;

        &__button {
            transform: translate(250px, 15px);
        }
    }
}