//Styles Header
.header {
    min-width: auto;
    max-height: 98px;
    background-color: #ffffff;
    padding: 24px;
    z-index: 1;


    &-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
        padding: 0;

        &__card {
            margin-right: 16px;

            &--logotip {
            margin-right: auto;
            min-width: 32%;
            }
        }

        &__button--burger-menu {
            background: #FF3E79 url(../img/burger_menu.svg) no-repeat 50% 50%;
        }
        &__button--call {
            background: #FF3E79 url(../img/call.svg) no-repeat 50% 50%;
            display: none;
        }
        &__button--chat {
            background: #FF3E79 url(../img/chat.svg) no-repeat 50% 50%;
            display: none;
        }
        &__button--profile {
            background: #FF3E79 url(../img/profile.svg) no-repeat 50% 50%;
            display: none;
        }
        &__button--repair {
            background: #FF3E79 url(../img/repair.svg) no-repeat 50% 50%;
            position: relative;

            &::before {
                content: " ";
                display: inline-block;
                width: 2px;
                height: 32px;
                background-color: $background-menu;
                border-radius: 6px;
                position: absolute;
                top: 5px;
                right: 65px;
            }
        }
        &__button--checkstatus {
            background: #FF3E79 url(../img/checkstatus.svg) no-repeat 50% 50%;
        }
    }
}

@media screen and (min-width: $tablet-width) {
    .header {
        &-menu {
    
            
            &__button--call {
                display: list-item;
            }
            &__button--chat {
                display: list-item;
            }
            &__button--profile {
                display: list-item;
                margin-right: 34px;
            }
        }
    }
}

@media screen and (min-width: $content-width) {
    .header {
        display: none;
    }
}