@import "./utils/fonts.scss";
@import "./utils/reset.scss";
@import "./utils/vars.scss";


//components
@import "./components/round-button.scss";
@import "./components/logo.scss";
@import "./components/oval-button.scss";
@import "./components/background-overlay.scss";
@import "./components/section-title.scss";
@import "./components/go-button.scss";


//header
@import "./header/header.scss";


//burger-menu
@import "./burger-menu/burger-menu.scss";
@import "./burger-menu/burger-menu_active.scss";

//modal
@import "./modal/modal.scss";

@import "./modal-feedback/modal-feedback.scss";
@import "./modal-feedback/modal-feedback-active.scss";

@import "./modal-call/modal-call.scss";
@import "./modal-call/modal-call-active.scss";


//main 
@import "./main/main.scss";
@import "./main/main-title.scss";
@import "./main/side-menu.scss";
@import "./main/service-info.scss";
@import "./main/brand-repair.scss";
@import "./main/technician-repair.scss";
@import "./main/catalog.scss";

//footer
@import "./footer/footer.scss";




.main-fixed {
    position: fixed;
}

.header-fixed {
    position: fixed;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
}

.page {
    margin: auto;
    transform: translate(0%);
    position: relative;
}

.page-no-scrrol {
    overflow: hidden;
}


@media screen and (min-width: $tablet-width) {

    .page {
        max-width: 768px;
    }
}

@media screen and (min-width: $content-width) {
    .page {
        max-width: 1440px;
    }
}