@import "./utils/fonts.scss";
@import "./utils/reset.scss";
@import "./utils/vars.scss";


//components
@import "./components/nav-button.scss";
@import "./components/logo.scss";
@import "./components/button-connection.scss";
@import "./components/burger-menu-button.scss";
@import "./components/background-overlay.scss";

@import "./components/block-title.scss";
@import "./components/go-button.scss";



//header
@import "./header/header.scss";


//burger-menu
@import "./burger-menu/burger-menu.scss";
@import "./burger-menu/burger-menu_active.scss";

//modal
@import "./modal/modal.scss";
//modal-feedback
@import "./modal-feedback/modal-feedback.scss";
@import "./modal-feedback/modal-feedback-active.scss";
//modal-call
@import "./modal-call/modal-call.scss";
@import "./modal-call/modal-call-active.scss";



//main
@import "./main/main.scss";
@import "./main/block-1.scss";
@import "./main/block-2.scss";
@import "./main/block-3.scss";
@import "./main/block-4.scss";
@import "./footer/footer.scss";



.main-fixed {
    position: fixed;

}

.header-fixed {
    position: fixed;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
}